.pages {
    height: 1000px;
}
.khat {
    height: 140px;
    background-color: #0081C9;
}

.check {
    background-color: rgba(215, 227, 246, 1);
    border-Radius: 10px;
    height: 4rem;
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
}

.isi {
    background-color: rgba(215, 227, 246, 1);
    border-Radius: 10px;
    height: 10rem;
    position: relative;
    top: 200px;
    align-items: center;
}

.barang {
    background-color: rgba(215, 227, 246, 1);
    border-Radius: 10px;
    height: 25rem;
    position: relative;
    top: 200px;
    align-items: center;
}

.Pesanan {
    background-color: rgba(215, 227, 246, 1);
    border-Radius: 10px;
    height: 5rem;
    position: relative;
    top: 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}

.metod {
    background-color: rgba(215, 227, 246, 1);
    border-Radius: 10px;
    height: 5rem;
    position: relative;
    top: 200px;
    align-items: center;
    display: flex;
    padding: 20px 60px;
}

.Totall {
    background-color: rgba(215, 227, 246, 1);
    border-Radius: 10px;
    height: 5rem;
    position: relative;
    top: 200px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 38px;
}